@using Newtonsoft.Json
@model LookupModel

@{
    var restultIndex = 0;
}

<style>
    .inner-table {
        margin-left: 20px;
        font-size: 1rem;
    }
</style>

<div class=" mt-2">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 ">
            <div class="bg-light rounded-2 p-3 m-1">
                <h5>Lookup by Bin, Container or Item #</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Container or Item #" aria-label="Container Number" aria-describedby="btnLookup" id="txtLookup" value="@Model.SearchTerm">
                    <button class="btn btn-primary" type="button" id="btnLookup" onclick="lookup()">
                        <i class="gg-search"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            @if (ViewBag.SearchInputEmpty == true)
            {
                <div class="col-md-4 offset-md-4 alert alert-info text-center">No Results for <strong>@Model.SearchTerm</strong></div>
            }
            else
            {
                <div class="accordion" id="results">
                    @*@if (Model.LookupResults.Bin.Length > 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Location code</th>
                                    <th>Bin Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LookupResults.Bin)
                                {
                                    <tr>
                                        <td>@item.LocationCode</td>
                                        <td>@item.BinCode</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }*@

                    @foreach (var r in Model.Results)
                    {
                        <div class="accordion-item">
                            @if (!string.IsNullOrEmpty(@r.LocationCode))
                            {
                                <h2 class="accordion-header" id="heading@(restultIndex)">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(restultIndex)" aria-expanded="true" aria-controls="collapse@(restultIndex)">
                                        <div class="d-flex flex-row justify-content-between col-12">
                                            <div class="col-6">
                                                @r.ResultType: @r.Title
                                            </div>
                                            <div class="col-6">
                                                Location: @r.LocationCode
                                            </div>
                                        </div>
                                    </button>
                                </h2>
                            }
                            else
                            {
                                <h2 class="accordion-header" id="heading@(restultIndex)">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(restultIndex)" aria-expanded="true" aria-controls="collapse@(restultIndex)">
                                        @r.ResultType: @r.Title
                                    </button>
                                </h2>
                            }

                            <div id="collapse@(restultIndex)" class="accordion-collapse collapse show" aria-labelledby="heading@(restultIndex)" data-bs-parent="#results">
                                <div class="accordion-body">

                                    @if (r.ResultType == "Bin")
                                    {
                                        @await Html.PartialAsync("BinResult", r)
                                    }
                                    else if (r.ResultType == "Container")
                                    {
                                        @await Html.PartialAsync("ContainerResult", r)
                                    }
                                    else if (r.ResultType == "Item")
                                    {
                                        @await Html.PartialAsync("ItemResult", r)
                                    }


                                </div>
                            </div>
                        </div>

                        restultIndex++;
                    }
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(() => {
            $("#txtLookup").focus();

            $("#txtLookup").on("keydown", (e) => {
                if (e.keyCode === 9 || e.keyCode === 13) {
                    lookup();
                }
            });

            var companyId = '@TempData["companyId"]';
            var locationCode = '@TempData["locationCode"]';

            if (companyId === "") {
                alert("Please select company");
            }

            if (locationCode === "") {
                alert("Please select location");
            }

        });

        function lookup() {
            block();
            var num = $("#txtLookup").val();
            var url = '@Url.Action("Index")' + `?number=${num}`;
            window.location.href = url;
        }

        function block() {
            topbar.show();
            $("#txtLookup").attr("disabled", "disabled");
            $("#btnLookup").attr("disabled", "disabled");
        }
    </script>
}