<div class=" mt-5">
    <div class="row ">
      
         <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("Singling", "MaterialManagement")" class="btn btn-lg btn-info text-center w-100 h-100 pt-5 pb-5">
                <div class=" badge bg-light text-dark dashboard-button-overlay">Material Management</div>
                <i class="gg-dice-1" style="margin: 20px auto; --ggs:3;"></i>
                Singling
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("Doubling", "MaterialManagement")" class="btn btn-lg btn-info text-center w-100 h-100 pt-5 pb-5">
                <div class=" badge bg-light text-dark dashboard-button-overlay">Material Management</div>
                <i class="gg-dice-2" style="margin: 20px auto; --ggs:3;"></i>
                Doubling
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mb-3">            
            <a href="@Url.Action("Container", "MaterialManagement")" class="btn btn-lg btn-info text-center w-100 h-100 pt-5 pb-5">
                <div class=" badge bg-light text-dark dashboard-button-overlay">Material Management</div>
                <i class="gg-ratio" style="margin: 20px auto; --ggs:3;"></i>
                Cart/Ctr to Bin
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("MoveBetweenBins", "MaterialManagement")" class="btn btn-lg btn-info text-center w-100 h-100 pt-5 pb-5">
                <div class=" badge bg-light text-dark dashboard-button-overlay">Material Management</div>
                <i class="gg-ratio" style="margin: 20px auto; --ggs:3;"></i>
                Move items between Bins
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("MoveItemsToContainer", "MaterialManagement")" class="btn btn-lg btn-info text-center w-100 h-100 pt-5 pb-5">
                <div class=" badge bg-light text-dark dashboard-button-overlay">Material Management</div>
                <i class="gg-ratio" style="margin: 20px auto; --ggs:3;"></i>
                Move items to Container
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("MoveItemsBetweenContainers", "MaterialManagement")" class="btn btn-lg btn-info text-center w-100 h-100 pt-5 pb-5">
                <div class=" badge bg-light text-dark dashboard-button-overlay">Material Management</div>
                <i class="gg-ratio" style="margin: 20px auto; --ggs:3;"></i>
                Move items between Containers
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("MoveContainerToBin", "MaterialManagement")" class="btn btn-lg btn-info text-center w-100 h-100 pt-5 pb-5">
                <div class=" badge bg-light text-dark dashboard-button-overlay">Material Management</div>
                <i class="gg-ratio" style="margin: 20px auto; --ggs:3;"></i>
                Move entire container to a Bin
            </a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
            <a href="@Url.Action("RemoveContentOfContainer", "MaterialManagement")" class="btn btn-lg btn-info text-center w-100 h-100 pt-5 pb-5">
                <div class=" badge bg-light text-dark dashboard-button-overlay">Material Management</div>
                <i class="gg-ratio" style="margin: 20px auto; --ggs:3;"></i>
                Remove content of a Container
            </a>
        </div>

    </div>
</div>