@model KQF.Floor.Web.Models.MoveItemPostModel

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="row p-2 m-2">
        <div class="col-12 alert @(Model.IsSuccess ? "alert-success": "alert-danger")">
            @Model.Message
        </div>
    </div>
}

<form method="post">

    <div class="row mt-2 mb-3">
        <div class="col-12">
            <h3>Material Management: Move items between Bins</h3>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Source Bin</label>
            <input type="text" class="form-control initial-focus" name="@Html.NameFor(x=> x.Source)" placeholder="Bin #" value="@Model.Source">
        </div>
         <div class="col-sm-12 col-md-4 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Item</label>
            <input type="text" class="form-control" name="@Html.NameFor(x=> x.ItemNo)" placeholder="Item #" value="@Model.ItemNo">
        </div>
        <div class="col-sm-12 col-md-4 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Lot</label>
            <input type="text" class="form-control" name="@Html.NameFor(x=> x.LotNo)" placeholder="Lot #" value="@Model.LotNo">
        </div>
        <div class="col-sm-12 col-md-2 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Quantity</label>
            <input type="number" step=".01" class="form-control" name="@Html.NameFor(x=> x.Qty)" placeholder="Quantity" value="@Model.Qty">
        </div>
        <div class="d-xs-none d-sm-none d-md-block col-md-2 p-2 bg-light">
            @*Empty space so the background continues*@
        </div>
    </div>
    <div class="row m-2">
        <div class="col-1 offset-5">
            <h2>
                <i class="gg-arrow-down"></i>
            </h2>
        </div>
        <div class="col-sm-12 col-md-12 bg-light p-2">
            <label for="exampleFormControlInput1" class="form-label">Destination Bin</label>
            <input type="text" class="form-control" name="@Html.NameFor(x=> x.Destination)" placeholder="Bin #" value="@Model.Destination">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <button type="submit" class="btn btn-lg btn-primary w-100">Post</button>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            var inputs = $("form :input");

            $(inputs).not(":button").keypress(function (e) {
                if (e.keyCode == 13) {
                    inputs[inputs.index(this) + 1].focus();
                    return false;
                }
            });
        });
    </script>
}