@model KQF.Floor.Web.Models.MoveBetweenPostModel

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="row p-2 m-2">
        <div class="col-12 alert @(Model.IsSuccess ? "alert-success": "alert-danger")">
            @Model.Message
        </div>
    </div>
}

<form method="post">

    <div class="row mt-2 mb-3">
        <div class="col-12">
            <h3>Material Management: Remove content of a Container</h3>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 col-md-12 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Source Container</label>
            <input type="text" class="form-control initial-focus" name="@Html.NameFor(x=> x.Source)" placeholder="Container #" value="@Model.Source">
        </div>
         <div class="col-sm-12 col-md-4 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Item</label>
            <input type="text" class="form-control partial-move-toggle" name="@Html.NameFor(x=> x.ItemNo)" placeholder="Item #" value="@Model.ItemNo">
        </div>
        <div class="col-sm-12 col-md-4 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Lot</label>
            <input type="text" class="form-control partial-move-toggle" name="@Html.NameFor(x=> x.LotNo)" placeholder="Lot #" value="@Model.LotNo">
        </div>
        <div class="col-sm-12 col-md-2 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Quantity</label>
            <input type="number" step=".01" class="form-control partial-move-toggle" name="@Html.NameFor(x=> x.Qty)" placeholder="Quantity" value="@Model.Qty">
        </div>
        <div class="col-sm-12 col-md-2 p-2 bg-light">
            <label for="exampleFormControlInput1" class="form-label">Partial Move?</label>
            <select class="form-control" name="@Html.NameFor(x=> x.MovePartial)">
                <option value="true" selected="@(Model.MovePartial)">Yes</option>
                <option value="false" selected="@(!Model.MovePartial)">No</option>
            </select>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <button type="submit" class="btn btn-lg btn-primary w-100">Post</button>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            var inputs = $("form :input");

            $(inputs).not(":button").keypress(function (e) {
                if (e.keyCode == 13) {
                    inputs[inputs.index(this) + 1].focus();
                    return false;
                }
            });

            $("[name='@Html.NameFor(x => x.MovePartial)']").change(function () {
                $("input.partial-move-toggle").prop("disabled", $(this).val() == "false");
            }).change();
        });
    </script>
}